## Simple set up

In [1]:
%load_ext autoreload
%autoreload 2

## Imports

In [2]:
import ast
import janitor
import numpy as np
import pandas as pd
import skimage.measure as measure
import shapely.geometry as geometry
import shapely.ops
import src
import matplotlib.pyplot as plt
import napari

## Load data

In [3]:
roi_files = sorted(
    src.data_dir("sample", "data_cells_tracked", "xy02", "normData").glob("*.pkl")
)

tracked_cells_df = (
    # Read pickle files into a single data frame.
    pd.DataFrame(
        dict(
            list_str_cells = [pd.read_pickle(file) for file in roi_files]
        )
    )
    # Each observation is a list of strings.
    # Convertet to long format.
    .explode(column="list_str_cells")
    # Each string is a set of variables delimited by tab.
    .list_str_cells
    .str.rstrip("\t")
    .str.split(r"\t+", expand=True) # One column per variable.
    .reset_index()
    # Indicate actual column values.
    .rename(columns = {
        "index": "frame",
        0: "id",
        1: "color",
        2: "roi_id",
        3: "track_id",
        4: "roi_polygon",
        5: "center",
        6: "axis",
        7: "GFP",
        8: "DsRed",
        9: "dead",
        10: "previous_frame",
        11: "next_frame",
        12: "mother_id"
    })
    .select_columns(["GFP", "DsRed", "dead"], invert=True)
    # Transfrom shape-strings columns into geometries.
    .assign(
        roi_polygon=lambda df: df.roi_polygon.apply(ast.literal_eval).apply(geometry.Polygon),
        center=lambda df: df.center.apply(ast.literal_eval).apply(geometry.Point),
        axis=lambda df: df.axis.apply(ast.literal_eval).apply(geometry.LineString)
    )
    # Swap coordinates since napari and ImageJ has inverted axes.
    .assign(
        roi_polygon=lambda df: df.roi_polygon.apply(
            lambda polygon: shapely.ops.transform(lambda x, y: (y, x), polygon)
        )
    )
    # Transform polygons to fit napari conditions.
    .assign(
        napari_polygon=lambda df: df.apply(
            lambda df_row: np.array([[df_row.frame, x, y] for (x, y) in df_row.roi_polygon.exterior.coords]), 
            axis=1)
    ).
    assign(
        id = lambda df: df.id.str.split(".").apply(lambda x: x[1]).astype(int) + 1,
        coords = lambda df: df.roi_polygon.apply(lambda x: np.array(x.exterior.coords))
    )
)

tracked_cells_df.head(1)

,frame,id,color,roi_id,track_id,roi_polygon,center,axis,previous_frame,next_frame,mother_id,napari_polygon,coords
0,0,1,#abcdcd,roi_f20_n0_x234_y409,[],"POLYGON ((410 238, 410 239, 411 239, 411 240, ...",POINT (233.6920667302324 410.6278959176846),LINESTRING (246.9999999999999 430.683093054870...,[],[],[],"[[0.0, 410.0, 238.0], [0.0, 410.0, 239.0], [0....","[[410.0, 238.0], [410.0, 239.0], [411.0, 239.0..."

In [4]:
from dask_image.imread import imread

In [5]:
channels_stacks = {
    path.stem: imread(path.joinpath("*.tif"))
    for path in src.data_dir("sample", "tif", "xy02").glob("*")
    if path.is_dir() and path.stem == "GFP_mask"
}
channels_stacks

{'GFP_mask': dask.array<_map_read_frame, shape=(25, 512, 640), dtype=uint8, chunksize=(1, 512, 640), chunktype=numpy.ndarray>}

In [6]:
gfp_mask = channels_stacks["GFP_mask"].compute()
matrix_shape = gfp_mask.shape[1:]
matrix_shape

(512, 640)

In [7]:
for row in tracked_cells_df.itertuples(index=False):
    
    mask = measure.grid_points_in_poly(matrix_shape, row.coords)
    gfp_mask[row.frame, ][mask] = row.id

In [8]:
def get_cmap(n, name='hsv'):
    '''Returns a function that maps each index in 0, 1, ..., n-1 to a distinct 
    RGB color; the keyword argument name must be a standard mpl colormap name.'''
    return plt.cm.get_cmap(name, n)

In [9]:
cmap = get_cmap(tracked_cells_df.id.unique().shape[0])

In [14]:
import random

In [34]:
import random

{'d': 4, 'b': 2, 'a': 1, 'c': 3}

In [35]:
keys = list(colors.keys())
random.seed(42)
random.shuffle(keys)
dict(keys)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [10]:
colors = {x+1: cmap(x) for x in range(tracked_cells_df.id.unique().shape[0])}
colors = {}

In [11]:
%gui qt5
viewer = napari.Viewer()
viewer.add_labels(
        data=gfp_mask,
        color=colors,
        name="labels",
        blending="additive"
)

In [12]:
np.unique(gfp_mask[7,], return_counts=True)

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
         26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
         39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
         52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
         65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
         78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
         91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
        104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
        117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
        130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
        143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
        156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
        169, 170, 171, 172], dtype=uint8),
 array([286753,    150,    182,    320,    270,    173,    297,    211,
           216,    162,    212,    326,    209,    241,    371,    330,
           172,    241,    587,    168,     81,    313,    148,    339,
           271,    234,    259,     96,    119,    247,    234,    461,
           247,    115,    328,    324,    122,    183,    291,    265,
           290,    270,    174,    241,    258,    110,    212,    212,
           264,    182,    462,    285,    256,    544,    525,    218,
           302,    208,    167,    195,    366,    177,    196,    182,
           200,    171,    198,    201,    291,    408,    202,    303,
            99,    234,    338,    458,    182,    351,    248,    518,
           179,    252,    198,    258,    230,    306,    164,    130,
           327,    225,    207,    199,    256,    328,     95,    174,
           222,    190,    196,    192,    343,    210,    174,    392,
           116,    111,    198,    196,    168,    318,    142,    168,
           155,    165,    209,    277,    191,    233,    177,    153,
           244,    266,    168,    255,    142,    147,    154,    197,
           182,    264,    169,    241,    308,    192,    560,    192,
           303,    183,    416,    124,    135,    506,    200,    230,
           168,    333,    226,    177,    188,    145,    182,    155,
           231,    158,    260,    193,    253,    379,    230,    523,
           272,    152,    196,    161,    277,    199,    171,    198,
           475,    300,    137,     90,     83]))